*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  text-transform: capitalize;
  font-family: 'Roboto Mono', monospace;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
img{
  width: 100%;
  vertical-align: middle;
}
